<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} Kalvacha Store</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {{ include('global_blocks/styles.html.twig') }}
</head>
<body>
{{ include('global_blocks/header.html.twig') }}
<div class="container main-wrap">

    <div class="row">
        <div class="col-md-12 main-content">
            {% block mainContent %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}

{{ include(':global_blocks:footer.html.twig') }}
{{ include('global_blocks/scripts.html.twig') }}
</body>
</html>
