<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} Kalvacha Store</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {{ include('global_blocks/styles.html.twig') }}
    </head>
    <body>
    {{ include('global_blocks/header.html.twig') }}
    <div class="container main-wrap">
        <div class="row">
            <div class="col-md-3 left-sidebar">
                {% block leftSidebar %}{% endblock %}
                <h3>Произволни продукти</h3>
                <ul class="random-sidebar-products">
                {% for product in get_products.getRandomProducts(5) %}
                    <li>
                        <div class="rand_products_image col-md-4">
                            <img width="100%" src="{{ asset('images/products/') }}/{{ product.id }}/{{ product.productImage }}" alt="{{ product.name }}">
                        </div>
                        <div class="rand_products_name col-md-8">
                            <a href="{{ path('product_by_slug', {'category': product.category.slug, 'slug': product.slug}) }}" title="{{ product.name }}">{{ product.name }}</a>
                        </div>

                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="col-md-9 main-content">

                {# ...or you can read and display every flash message available #}
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="flash-notice flash-{{ type }}">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block mainContent %}{% endblock %}
            </div>
        </div>
    </div>

        {% block javascripts %}{% endblock %}

        {{ include(':global_blocks:footer.html.twig') }}
        {{ include('global_blocks/scripts.html.twig') }}
    </body>
</html>
