<header>
    <div class="top-header">
        <div class="container">
            <i class="fa fa-phone" aria-hidden="true"></i> 0888 06 56 10 | <i class="fa fa-envelope-o" aria-hidden="true"></i> info@kalvacha.net
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('images/logo.png') }}" alt="Kalvacha Store">
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="header-search">
                        <form method="GET">
                            <div class="categories-wrap inline-block">
                                <select class="form-control">
                                    <option>Всички категории</option>
                                    <option>Дрехи</option>
                                    <option>Техника</option>
                                    <option>Обувки</option>
                                    <option>Козметика</option>
                                </select>
                            </div>
                                <div class="search-wrap inline-block">
                                    <input type="text" class="form-control" placeholder="Text input">
                                    <button class="search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="user-area">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="user-menu inline-block">
                                <span id="user_menu">
                                    <a href="" title="User Menu" class="header-login-btn"><i class="fa fa-bars" aria-hidden="true"></i> {{ app.user.username }}</a>
                                    <ul class="user-manu">
                                        <li><a href="#" title="Поръчки">Моите поръчки</a></li>
                                        <li><a href="{{ path('user_products') }}" title="Продукти">Моите продукти</a></li>
                                        <li><a href="{{ path('edit_user', {'id': app.user.id}) }}" title="Редактиране на профила">Редактиране на профила</a></li>
                                        <li><a href="{{ path('change_password_user', {'id': app.user.id}) }}" title="Редактиране на профила">Смяна на парола</a></li>
                                    </ul>
                                </span>
                                <a href="{{ path('logout') }}" title="Logout" class="header-register-btn">Изход</a>
                            </div>
                            <div class="header-cart inline-block">
                                <a href="#" title="view cart">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% else %}
                            <div class="user-menu inline-block">
                                <a href="{{ path('user_login') }}" title="Login" class="header-login-btn"><i class="fa fa-sign-in" aria-hidden="true"></i> Вход</a>
                                <a href="{{ path('user_register') }}" title="Login" class="header-register-btn">Регистрация</a>
                            </div>
                            <div class="header-cart inline-block">
                                <a href="#" title="view cart">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
