{% extends 'layouts/left-sidebar.html.twig' %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block leftSidebar %}
    Left Sidebar
{% endblock %}

{% block mainContent %}

    <div class="row">
        <div class="col-md-3">
            <img width="100%" src="{{ asset('images/products/15/96dadf066f2d73670cbb109c27cfb3c5.jpg') }}">
        </div>
        <div class="col-md-9">
            <h1>{{ category.name|upper }}</h1>
            <p>{{ category.description }}</p>
        </div>
    </div>
        <ul class="category-block-nav">
            <li>{{ knp_pagination_sortable(products, 'Дата на добавяне', 'a.id') }}</li>
            <li>{{ knp_pagination_sortable(products, 'Име', 'a.name') }}</li>
            <li>{{ knp_pagination_sortable(products, 'Цена', 'a.price') }}</li>

        </ul>
    <div class="clearfix"></div>
        <ul class="category-block-products">
        {% for product in products %}
            <li>
                <a href="{{ path('product_by_slug', {'category': category.slug, 'slug': product.slug}) }}">
                <div class="category-block-product-image" style="background-image: url({{ asset('images/products/') }}/{{ product.id }}/{{ product.productImage }})">
                </div>
                <div class="category-block-product-content">
                    <div class="product-title">
                        <h4>{{ product.name }}</h4>
                    </div>
                    <div class="category-block-product-price">Цена: {% if product.promoPrice > 0 %} {{ product.promoPrice|number_format(2, '.', ',') }}лв.<span class="old-price"><del>{{ product.price|number_format(2, '.', ',') }}лв.</del></span>{% else %} {{ product.price|number_format(2, '.', ',') }}лв. {% endif %}</div>
                </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}

 {% block stylesheets %}
 {% endblock %}

{% block javascripts %}
{% endblock %}
