{% extends 'layouts/left-sidebar.html.twig' %}

{% block title %}
    Смяна на парола
{% endblock %}

{% block leftSidebar %}
{% endblock %}

{% block mainContent %}
    <h1>Смяна на парола</h1>
    {{ form_start(form) }}
    <h3>Потребителски данни</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group {% if form.oldPassword.vars.errors|length %} has-error {% endif %}">
                {{ form_label(form.oldPassword) }}
                {{ form_widget(form.oldPassword) }}
                {{ form_errors(form.oldPassword) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group {% if form.password.first.vars.errors|length %} has-error {% endif %}">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first) }}
                {{ form_errors(form.password.first) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group {% if form.password.second.vars.errors|length %} has-error {% endif %}">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second) }}
                {{ form_errors(form.password.second) }}
            </div>
        </div>
    </div>


    {{ form_widget(form._token) }}
    <input type="submit" value="Запиши промените" class="btn btn-success" formnovalidate />
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

 {% block stylesheets %}
 {% endblock %}

{% block javascripts %}
{% endblock %}